@import "_mixins_vars.less";

// //////////////////////////////////////////
.features_wrapper {
    background-color: #222224;
    min-height: 341px;
}

.features_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 104px 0;

    .feature {
        height: 134px;
        max-width: 360px;
        font-family: Lato;
        font-weight: 300;
        .font14_17();
        color: #FBFBFB;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
            transform: scale(1.2);
            transition-duration: 0.4s;
        }
    }

    .features_title {
        font-family: Lato;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin: 25px 0 16px 0;
    }
}


.subscription_section {
    background: url(../img/subscribe_background.jpg);
    background-color: #ececec;
    background-size: cover;

    .subscription_wrapper {
        text-align: center;
        height: 448px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.customer_text {
    margin-top: 30px;
    font-weight: 400;
}

.subscription_info {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.customer_text_second_line {
    font-style: italic;
}

.subscribe_photo {
    height: 96px;
    width: 96px;
}

.subscription_text {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #222224;
    margin-bottom: 29px;
}

.subscription_text_second_line {
    font-weight: normal;
    font-size: 18px;
}

.subscription_form {
    text-transform: uppercase;
    width: 557px;
}

.email_form {
    max-width: 356px;
    text-align: center;
    margin: 0 auto;
}

.input_submit_btn,
.input_email {
    border: none;
    height: 49px;
}

.input_email {
    max-width: 256px;
    padding: 23px;
    .font14_17();
    background-color: #E1E1E1;
    border-radius: 22px 0 0 22px;
}

.input_email:focus {
    border: red 0.5px solid;
    outline: none;
    background-color: #E2E2E2;
}

.input_email::placeholder {
    color: #222224;
    opacity: 0.67;
}

.input_submit_btn {
    width: 100px;
    text-align: center;
    font-weight: normal;
    .font14_17();
    color: #FFFFFF;
    background-color: #f16d7f;
    border-radius: 0 22px 22px 0;
    cursor: pointer;
}

.input_submit_btn:hover {
    background-color: #E05C6E;
    transition-duration: 0.4s;
}

footer {
    background-color: #222224;
    .font16_19();
    color: #FBFBFB;

    .footer_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: @footer_height;
        flex-wrap: wrap;
        padding-left: 5px;
        word-spacing: 1px;
    }
}

.social {
    height: 32px;
    display: flex;
    gap: 6.66666px;
    justify-content: space-between;
}

.social a {
    text-decoration: none;
}

.social_icon {
    background-color: #FFFFFF;
    color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 32px;
    height: 32px;
    justify-content: center;
}

.social_icon:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
    transition-duration: 0.4s;
}


// TABLET

@media (max-width:1180px) {
    footer .footer_wrapper {
        padding: 0 33px;
    }

    .subscription_section .subscription_wrapper {
        flex-direction: column;
        justify-content: center;
        height: 614px;
        padding: 64px 0 140px 0;
    }

    .features_section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 64px 0;

        & .feature {
            margin-top: 48px;
        }
    }

}

// MOBILE

@media (max-width:805px) {
    footer .footer_wrapper {
        min-height: @footer_height + 64px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
    }

    .subscription_section .subscription_wrapper {
        flex-direction: row;
        height: 550px;
        padding: 64px 0 110px 0;
    }

    .features_section {
        padding: 0 0 64px 0;
    }

    .subscription_info {
        font-size: 18px;
        line-height: 22px;
    }

    .subscription_text_second_line {
        .font14_17();
    }
}