.promo {
  background-color: #f1e4e6;
  padding-right: 104px;
}
.promo .wrap_promo {
  background: url(../img/promo_img.png);
  background-repeat: no-repeat;
  background-position-x: 46px;
  height: 765px;
  padding: 286px 0 0 684px;
}
.promo_text {
  max-width: 405px;
  border-left: solid #f16d7f 12px;
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #222222;
  padding-left: 16px;
  text-transform: uppercase;
}
.promo_text .promo_text_firstword {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.promo_text .promo_text_lastword {
  color: #f16d7f;
}
.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 66px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}
.offers .offer_women {
  background: url(../img/offer_women.jpg);
}
.offers .offer_men {
  background: url(../img/offer_men.jpg);
}
.offers .offer_kids {
  background: url(../img/offer_kids.jpg);
}
.offers .offer_accesories {
  background: url(../img/offer_accesories.jpg);
}
.offers .offer_first_row {
  width: 360px;
  height: 260px;
  padding-top: 105px;
}
.offers .offer_second_row {
  width: 100%;
  height: 180px;
  padding-top: 65px;
}
.offer_text {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.offer_text .offer_second_line {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
