.reg_block {
  display: flex;
  align-items: flex-start;
  min-height: 675px;
  padding-top: 64px;
}
.reg_form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-right: 128px;
}
.reg_form fieldset {
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding: 0;
}
.reg_form .gender_selector {
  display: flex;
  justify-content: space-between;
  width: 132px;
  font-size: 11px;
  line-height: 13px;
  align-items: center;
  margin: 11px 0 34px 0 ;
}
.reg_form input[type="radio"] {
  height: 17px;
  width: 17px;
  vertical-align: sub;
  margin-right: 10px;
}
.reg_submit_btn {
  height: 50px;
  width: 167px ;
  margin-top: 39px;
  background-color: #F16D7F;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  border-style: none;
  cursor: pointer;
}
.reg_submit_btn .arrow_right_icon {
  fill: #FFFFFF;
  margin-left: 20px;
}
.reg_submit_btn:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  transition-duration: 0.4s;
}
.reg_submit_btn:hover .arrow_right_icon {
  fill: #F16D7F;
}
.reg_name_fields,
.login_details {
  display: flex;
  flex-direction: column;
}
.reg_block_text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  display: block;
  margin-top: -5px;
}
.reg_fieldset_name {
  margin-bottom: 20px;
}
.form_field {
  width: 100%;
  height: 45px;
  padding: 18px;
  border: solid 1px #A4A4A4;
  margin-bottom: 20px;
}
.reg_perks_info {
  max-width: 652px;
  min-height: 334px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.reg_perks_list {
  list-style-image: url(../img/check-solid.svg);
  display: inline;
  line-height: 43px;
  margin-left: -15px;
}
.reg_perks_list ::before {
  content: " ";
  margin-right: 19px;
}
.reg_perks_title {
  text-transform: uppercase;
}
.sort {
  display: flex;
}
.sorting_type {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  margin-right: 28px;
}
.sorting_type .fa-chevron-down {
  font-size: 0.8em;
  margin-left: 11px;
}
.sorting_check {
  display: none;
}
.sorting_title {
  display: block;
}
.sorting_drop {
  position: relative;
}
.sorting_drop .sort_fieldset {
  position: absolute;
  left: -8px;
  top: 5px;
  background-color: #ffffff;
  border: none;
  padding: 7px 10px 4px 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.sort_fieldset1 {
  width: 170px;
}
.sort_fieldset2 {
  width: 79px;
}
.sort_fieldset3 {
  width: 137px;
}
.sort_fieldset4 {
  width: 170px;
}
.sort_fieldset5 {
  width: 79px;
}
.sort_fieldset6 {
  width: 170px;
}
.sorting_check:checked ~ .sorting_drop {
  display: block;
  z-index: 1;
}
.sorting_check:not(:checked) ~ .sorting_drop {
  display: none;
}
.drop_checkbox {
  margin: 0 8px 9px 0;
}
@media (max-width: 1180px) {
  .reg_form {
    margin-right: 22px;
  }
  .reg_form input {
    width: 360px;
  }
  .reg_perks_info {
    margin-bottom: 96px;
    font-size: 16px;
    line-height: 19px;
    padding-right: 0px;
  }
  .reg_perks_title {
    margin-bottom: 32px;
  }
  .reg_perks_text {
    margin-bottom: 22px;
  }
  .registration_page_title {
    margin-top: 35px;
  }
}
@media (max-width: 805px) {
  .reg_block {
    flex-direction: column;
    align-items: center;
  }
  .reg_form {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .sorting_drop .sort_fieldset6 {
    left: -80px;
  }
  .sorting_drop .sort_fieldset3 {
    left: -76px;
  }
}
